


<div class="row">


    <div class="col-12 col-md-8">
      <div class="hotel">
      <h1 class="hotelName">{{hotel.name}}</h1>
      <p class="hotelAddress">{{hotel.address}}</p>
      </div>
      </div>
      <div class="col-4">
<div class="ascotClass d-none d-md-block ">
  <h2 class="ascot text-center ">HappenCares :)</h2>
  <p style="font-family: Georgia, Times New Roman, Times, serif; " class="text-center">Our Commitment to Wellness, Cleanliness and Sustainability</p>

</div>

      </div>
   
</div>




<div class="row" *ngIf="rooms.length>0; else elseBlock">
  <div class="d-none d-md-block col-3">
    
    <div class="row">
      <div class="col-12 mt-2 ms-3 shadow-sm p-3 mb-2 bg-body rounded">
        <div class="d-flex">
          <div class="logo">
            <img src="assets/images/sanitizer.svg" alt="logo" />
          </div>
          <div class="info ms-4">
            <h3>Preventative Equipment</h3>
            <ul class="list-unstyled">
              <li><i class="fa-solid fa-check me-2"></i> Hand sanitizer</li>
              <li><i class="fa-solid fa-check me-2"></i>Free face masks</li>
              <li>
                <i class="fa-solid fa-check me-2"></i>Sterilizing equipment
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 ms-3 shadow-sm p-3 mb-2 bg-body rounded">
        <div class="d-flex">
          <div class="logo">
            <img src="assets/images/safety.svg" alt="logo" />
          </div>
          <div class="info ms-4">
            <h3>Safety Features</h3>
            <ul class="list-unstyled">
              <li>
                <i class="fa-solid fa-check me-2"></i>Staff trained in safety
                protocol
              </li>
              <li><i class="fa-solid fa-check me-2"></i>Temperature check</li>
              <li><i class="fa-solid fa-check me-2"></i>Daily disinfection</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12  ms-3 shadow-sm p-3 mb-2 bg-body rounded">
        <div class="d-flex">
          <div class="logo">
            <img src="assets/images/dinner.svg" alt="logo" />
          </div>
          <div class="info ms-4">
            <h3>Food and Drinks</h3>
            <ul class="list-unstyled">
              <li>
                <i class="fa-solid fa-check me-2"></i> Room service [24-hour]
              </li>
              <li><i class="fa-solid fa-check me-2"></i>Restaurants</li>
              <li><i class="fa-solid fa-check me-2"></i>Bar Facilities</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12  ms-3 shadow-sm p-3 mb-2 bg-body rounded">
        <div class="d-flex">
          <div class="logo">
            <img src="assets/images/wellness.svg" alt="logo" />
          </div>
          <div class="info ms-4">
            <h3>Wellness</h3>
            <ul class="list-unstyled">
              <li><i class="fa-solid fa-check me-2"></i> Fitness center</li>
              <li><i class="fa-solid fa-check me-2"></i>Spa</li>
              <li><i class="fa-solid fa-check me-2"></i>Massage</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="col-12  ms-3 shadow-sm p-3 mb-2 bg-body rounded">
        <div class="d-flex">
          <div class="logo">
            <img src="assets/images/sanitizer.svg" alt="logo" />
          </div>
          <div class="info ms-4">
            <h3>Preventative Equipment</h3>
            <ul class="list-unstyled">
              <li><i class="fa-solid fa-check me-2"></i> Hand sanitizer</li>
              <li><i class="fa-solid fa-check me-2"></i>Free face masks</li>
              <li>
                <i class="fa-solid fa-check me-2"></i>Sterilizing equipment
              </li>
            </ul>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-12 ms-3 shadow-sm p-3 mb-2 bg-body rounded">
        <div class="d-flex">
          <div class="logo">
            <img src="assets/images/safety.svg" alt="logo" />
          </div>
          <div class="info ms-4">
            <h3>Safety Features</h3>
            <ul class="list-unstyled">
              <li>
                <i class="fa-solid fa-check me-2"></i>Staff trained in safety
                protocol
              </li>
              <li><i class="fa-solid fa-check me-2"></i>Temperature check</li>
              <li><i class="fa-solid fa-check me-2"></i>Daily disinfection</li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  
  <div class="col-12 col-md-9">
    <!-- <div class="row"> -->
      <div  *ngFor="let room of rooms; let i = index">
     
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title
              style="font-family: Georgia, Times New Roman, Times, serif"
              >{{ rooms[i].roomtype }}</mat-card-title
            >
            <span class="star">
              <i class="fa fa-star"></i>
              {{ rooms[i].ratings }}(189)
            </span>
          </mat-card-header>

          <div class="row">
            <div class="col-5">
              <img
                class="example-header-image"
                mat-card-image
                src="{{ rooms[i].image }}"
                alt="roomImage"
              />
            </div>
            <div class="d-none d-md-block col-3">
              <div class="row">
                <div class="amenities d-none d-md-block ">
                  <h3 class="includes">Your price includes:</h3>
                  <ul class="list-unstyled">
                    <li>
                      <i class="fa-solid fa-wifi me-2"></i>
                      Wifi
                    </li>
                    <li>
                      <i class="fa-solid fa-person-shelter me-2"></i>
                      Balcony
                    </li>
                    <li>
                      <i class="fa-solid fa-water-ladder me-2"></i>
                      Pool View
                    </li>
                    <li>
                      <i class="fa-solid fa-tv me-2"></i>
                      Tv
                    </li>
                    <li>
                      <i class="fa-solid fa-shower me-2"></i>
                      Shower
                    </li>
                  </ul>
                </div>
              </div>

              <div>
                <h3 class="sleeps">
                  Guests:
                  <h2>
                    <i class="fa-solid fa-people-group"></i>
                    {{ rooms[i].capacity }}
                  </h2>
                </h3>
              </div>
            </div>
            <div class="col-md-4 col-7">
              <span class="welcomeSpan ">
                Well done! You're getting this property's lowest price!</span
              >
              <br />
              <br />

              <div class="price">

                <div class="d-flex justify-content-between" >
                  Actual Price  <span class="actuprice">(1 room x {{noOfDays}} nights)</span> 


                <span class="strikethrough">{{(noOfDays*rooms[i].price)+2500}}</span> <br />
              
              </div>
              <div class="d-flex justify-content-between">
              
              
                Offer Price <span class="actuprice">    (1 room x {{noOfDays}} nights)</span>
             
             
             
                <span class="me-3" style="font-size: 20px;"> {{ noOfDays*rooms[i].price }}</span>

              </div>

                <div class="d-flex justify-content-between">
                  <span> Booking fees</span>
                  <span class="me-4" style="color:green">FREE</span>
              </div> 
                <hr />

                <div class="d-flex justify-content-between">
                  <span> Price</span>
                  <span class="me-3"  style="font-size: 20px;">{{ noOfDays*rooms[i].price }}</span>
              </div> 


            <!-- Price<span class="actualPrice ">{{ noOfDays*rooms[i].price }}</span>  -->
              </div>
              <mat-card-actions>

        
                <button   (click)="onClick(rooms[i]._id,rooms[i].roomtype,noOfDays*rooms[i].price)"
                class="viewButton"
                mat-button
                style="
                  background-color: rgb(0, 0, 0);
                  color: white;
                  font-family: Georgia, Times New Roman, Times, serif;">
                Book Now
              </button>



              </mat-card-actions>
            </div>
          </div>

  
        </mat-card> 

      </div>
    <!-- </div> -->
  </div>
</div>
<ng-template #elseBlock>
  <div class="alreadyBooked" >
    <h1>Sorry, No Rooms Available </h1>  
</div>


</ng-template>


