.example-card{
      width: 98%;
      height:300px;
      margin-left:20px;
      margin-top: 10px;
      background-size: cover;
      border-radius: 15px;
      font-family: Georgia, "Times New Roman", Times, serif;

    }
   .row{
    --bs-gutter-x: 0rem !important;
   } 
  .viewButton{
    display: flex;
    float: right; 
    position: relative;
    top:2px;
    right:10px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .example-header-image {
    height: 240px;
    position: relative;
    left:15px;
    top:10px;
    background-size: cover;
    object-fit: cover;
   
    
  }

  .amenities{
    margin-left:40px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .sleeps{
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-left:40px;
    color:rgb(197, 82, 0);
  }
  .includes{
    font-family: Georgia, "Times New Roman", Times, serif;
   color:rgb(197, 82, 0);
  }
  
 
  .strikethrough {
    position: relative;
    font-size: 20px;
    margin-left:20px;
  }
  .strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
  }

  .roomPrice{
    font-size: 20px;
    margin-left:23px;
  }
  .bookingFee{
    font-size: 15px;
    margin-left:140px;
    color:green;
  }
  /* .actualPrice{
    font-size: 20px;
   
 
   
  } */
  .welcomeSpan{
    position:relative;
    
  }
  .hotelName{
    margin-left:40px;
    margin-top: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .hotelAddress{
    margin-left:40px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
 
  .ascot{
    margin-top: 3px;
  
    font-family: Georgia, "Times New Roman", Times, serif;
 
  }

  .ascotClass{
    background-color: #7BB135;
    border-radius: 20px;
    padding: 1px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left:10px;
   
  }
  .hotel{
    background-color: #d3e3be;
   margin-left: 8px;
    padding: 1px;
    margin-top: 10px;
 
  }
  .alreadyBooked h1{
    text-align: center;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 1px solid black;
  }


  @media only screen and (max-width: 800px){

    .example-card{
      width:96% ;

      margin-left: 8px;
      margin-right: 8px;
      background-size: cover;
      border-radius: 15px;
      font-family: Georgia, "Times New Roman", Times, serif;
      padding-right: 0px!important;
    }
   
    .hotel{
      background-color: #d3e3be;
      margin-left: 8px;
      padding: 1px;
      margin-top: 10px;
      margin-right: 8px;
   
    }
    .hotelName{
      margin-left:10px;
      margin-top: 10px;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    .hotelAddress{
      margin-left:10px;
      font-family: Georgia, "Times New Roman", Times, serif;
    }
    .includes{
      font-family: Georgia, "Times New Roman", Times, serif;
     color:rgb(197, 82, 0);
   
    }
    
   .welcomeSpan{
     display: none;
   }
   .price{
    margin-left:40px;
    font-size:13px;
   }

   .strikethrough {
    position: relative;
    font-size: 20px;
    margin-left:25px;
  }
  .strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
    
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);


  }

  .roomPrice{
    font-size: 13px;
   
  
  }
  .bookingFee{
    font-size: 13px;
   
    margin-left:50px;
  }
  .actualPrice{
    font-size: 13px;
    margin-left:10px;
 
   
  }

  .ascot{
    margin-top: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
 
  }


  .actuprice{
    display:none;
  }

  .viewButton{
    display: flex;
    float: right; 
    position: relative;
    top:20px;
    right:50px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }


  }