.class1 {
  width: 350px;
  height: 380px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.grid-title1 {
  padding-left: 0px;
}

mat-card-title {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-top:10px!important;
  padding-left: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 94%;
  margin: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 10px;
}
.email-field {
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.password-field {
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.loginTitle {
  margin-top: 30px;
  
}
.submitButton {
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  background-color:black;
}
.errorMessage {
  margin-left: 100px;

  margin-top: 20px;
}

.subTitle {
  padding-top: 5px;
  margin-left: 14px;
  
}
.subTitle a {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* color: green; */
}

.ptag {
  background-color: red;
  color: white;
  margin-left: -16px;
  margin-right: -16px;
  padding: 5px;
  position: relative;
  top:-18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}


.quote{
  margin-top:180px;
  font-size: 68px;


  font-family: Georgia, "Times New Roman", Times, serif;
  color:rgb(118, 113, 113);
  padding: 15px;
}
.quote2 h1{
  margin-top:30px;
  margin-left: 20px;
  font-size: 72px;
 

  font-family: Georgia, "Times New Roman", Times, serif;
  color:black;
  padding: 15px;
}
.quote2 h4{
  margin-top:20px;
  margin-left: 100px;
  font-size: 22px;
 

  font-family: Georgia, "Times New Roman", Times, serif;
  color:black;
  padding: 15px;
}


.leftContent{
  max-width: 100%;
  
}



@media only screen and (max-width: 768px) {

 

  .class1 {
    width: 350px;
    height: 380px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }


  .quote{
    margin-top: 20px;
    display:table;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color:rgb(118, 113, 113);
    padding: 5px;
  }
  .quote2 h1{
  
 
    font-size: 35px;
    display:table;
    margin-left: auto;
    margin-right: auto;
  
    font-family: Georgia, "Times New Roman", Times, serif;
    color:black;
    padding: 5px;
  }
  .quote2 h4{

   display:none;
  }





  
}