


    <div class="container">
      <div class="row">
        <div class="d-md-block col-md-6">
          
          <!-- Add Something Here -->

        <div class="quote">Find Best Deals</div>  
        <div class="quote2">
        <h1> On Best Hotels</h1>  
        <h4>Login and Discover Deals!</h4>
        
        </div>  
        
        </div>
        <div class="col-12 col-md-6">
         
    <mat-card class="class1">
      
      <p class="ptag" >Register & Get
         ₹500
        Happen Money Now!</p>
      <div class="container">
        <mat-card-title class="loginTitle"> Login/Signin</mat-card-title>
        <mat-card-subtitle class="subTitle"><a class="atag" href="/signup">New User? Register</a></mat-card-subtitle>
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          class="example-form"
          autocomplete="off"
        >
          <div class="example-container">
            <mat-form-field class="email-field" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Enter Your Email"
                formControlName="email"
                required
              />
              <mat-error
                *ngIf="
                  !loginForm.get('email')?.errors?.required &&
                  loginForm.get('email')?.errors?.pattern
                "
              >
                Please enter a valid email address
              </mat-error>
              <mat-error
                *ngIf="
                loginForm.get('email')?.invalid &&
                  (loginForm.get('email')?.dirty ||
                  loginForm.get('email')?.touched) &&
                  loginForm.get('email')?.errors?.required
                "
              >
                This field is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="password-field" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                placeholder="Enter Your Password"
                [type]="hidden ? 'password' : 'text'"
                formControlName="password"
              />
              <mat-icon matSuffix (click)="hidden = !hidden">{{
                hidden ? "visibility_off" : "visibility"
              }}</mat-icon>
              <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
                Password length must be greater than or equal to 8 and password
                must contain one or more uppercase , lowercase , numeric and
                special characters
              </mat-error>
              <mat-error
                *ngIf="
                loginForm.get('password')?.invalid &&
                  (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched) &&
                  loginForm.get('password')?.errors?.required
                "
              >
                This field is required
              </mat-error>
            </mat-form-field>

            <!-- <mat-form-field class="password-field" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                type="password"
                placeholder="Enter Your Password"
                [type]="hide ? 'password' : 'text'"
                formControlName="confirmPassword"
              />
              <mat-icon matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>

              <mat-error
                *ngIf="
                  signupForm.get('confirmPassword')?.invalid &&
                  (signupForm.get('confirmPassword')?.dirty ||
                    signupForm.get('confirmPassword')?.touched) &&
                  signupForm.get('confirmPassword')?.errors?.required
                "
              >
                This field is required
              </mat-error>

              <mat-error *ngIf="signupForm.value.confirmPassword"
                >Passwords do not match.</mat-error
              >
            </mat-form-field> -->

            <button  mat-raised-button
            color="primary"
            mat-button  class="submitButton">Signin</button>
            <!-- <mat-error class="errorMessage"> {{ errorMessage }}</mat-error> -->
          </div>
        </form>
      </div>
    </mat-card>

        </div>
      </div>
    </div>


