<footer class="footer-section mt-5">
  <div class="container">
      <!-- <div class="footer-cta pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-map-marker-alt"></i>
                      <div class="cta-text">
                          <h4>Find us</h4>
                          <span>1010 Avenue, sw 54321, chandigarh</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-phone"></i>
                      <div class="cta-text">
                          <h4>Call us</h4>
                          <span>9876543210 0</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="far fa-envelope-open"></i>
                      <div class="cta-text">
                          <h4>Mail us</h4>
                          <span>mail@info.com</span>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <div class="footer-content pt-5 pb-5">
          <div class="row justify-content-between">
              <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                      <div class="footer-logo d-none d-md-block">
                          <a><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8eb438bb-a5b7-475c-8bb5-9fcd3d005f96/d5bardw-87b99774-dac3-45d0-9994-9cf8de7308b7.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhlYjQzOGJiLWE1YjctNDc1Yy04YmI1LTlmY2QzZDAwNWY5NlwvZDViYXJkdy04N2I5OTc3NC1kYWMzLTQ1ZDAtOTk5NC05Y2Y4ZGU3MzA4YjcuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.38WdNC_ccb5CgEJFQxqFsHBDawk41S_G7LYNgKRRFF4" class="img-fluid" alt="logo"></a>
                      </div>
                      <div class="footer-text"   style="font-family: Georgia, Times New Roman, Times, serif">
                          <p>Happen.Inn is associated with The Hotel Network brand where it provides an assurance of the quality and the hygiene of the hotels and the resorts we have in our network.</p>
                      </div>
                      <!-- <div class="footer-social-icon">
                          <span   style="font-family: Georgia, Times New Roman, Times, serif;color:black;">Follow us</span>
                          <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                          <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                          <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                      </div> -->
                  </div>
              </div>


              <div class="footer-social-icon col-xl-3 pt-5 mt-5">
                <span   style="font-family: Georgia, Times New Roman, Times, serif;color:black;">Follow us on</span>
                <a ><i class="fab fa-facebook-f facebook-bg"></i></a>
                <a><i class="fab fa-twitter twitter-bg"></i></a>
                <a ><i class="fab fa-google-plus-g google-bg"></i></a>
            </div>
     <!-- <div class="col-xl-4 col-lg-4 col-md-6 mb-30"> -->
                  <!-- <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Useful Links</h3>
                      </div>
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">about</a></li>
                          <li><a href="#">services</a></li>
                          <li><a href="#">portfolio</a></li>
                          <li><a href="#">Contact</a></li>
                          <li><a href="#">About us</a></li>
                          <li><a href="#">Our Services</a></li>
                          <li><a href="#">Expert Team</a></li>
                          <li><a href="#">Contact us</a></li>
                          <li><a href="#">Latest News</a></li>
                      </ul>
                  </div> -->
              <!-- </div> -->
              <div class="col-xl-5  mb-50 pt-4">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3   style="font-family: Georgia, Times New Roman, Times, serif;color: black">Subscribe</h3>
                      </div>
                      <div class="footer-text mb-25">
                          <p   style="font-family: Georgia, Times New Roman, Times, serif">“Heaven is totally overrated. It seems boring. Clouds, listening to people play the harp. It should be somewhere you can’t wait to go, like a luxury hotel. Maybe blue skies and soft music were enough to keep people in line in the 17th century, but heaven has to step it up a bit. They’re basically getting by because they only have to be better than hell.” ~ Joel Stein. Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                      </div>
                      <div class="subscribe-form">
                          <form action="#">
                              <input type="text"   style="font-family: Georgia, Times New Roman, Times, serif" placeholder="Email Address">
                              <button disabled><i class="fab fa-telegram-plane"></i></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class="col-xl-12 col-lg-12 text-center ">
                  <div class="copyright-text"   style="font-family: Georgia, Times New Roman, Times, serif">
                      <p>Copyright &copy; 2022, All Right Reserved by Kailash, Presidio</p>
                  </div>
              </div>
              <!-- <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Terms</a></li>
                          <li><a href="#">Privacy</a></li>
                          <li><a href="#">Policy</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
</footer>