<div>
    <footer class="foot mt-5" style="background-color: black;  font-family: Georgia, Times New Roman Times serif;">
      <div class="d-md-flex align-items-center justify-content-around p-4">
        <div class="location d-flex justify-content-between p-2">
          <div class="text-white d-flex align-items-center  ">
            <i class="fas fa-map-marker-alt"></i>
            <h2 class="m-0 ms-2 fw-light" style="font-family: Georgia, Times New Roman Times serif;">India</h2>
          </div>
       
        </div>
        <div>
          <div class="social text-white">
            <ul class="d-flex justify-content-around-md mt-2 mt-md-0 list-unstyled">
              <li>
                <i class="fab fa-facebook"></i>
              </li>
              <li class="ms-3">
                <i class="fab fa-twitter"></i>
              </li>
              <li class="ms-3">
                <i class="fab fa-google-plus"></i>
              </li>
              <li class="ms-3">
                <i class="fab fa-instagram"></i>
              </li>
            </ul>
            <p>Privacy Policy | Terms | Contact</p>
            <p>&copy; Copyright</p>
          </div>
        </div>
        <div class="text-light" style="font-family: Georgia, Times New Roman Times serif;">
          <h4 style="font-family: Georgia, Times New Roman Times serif;">Powered by</h4>
          <p>Presidio</p>
        </div>
      </div>
    </footer>
  </div>