<div class="myForm">
    <div class="col">
        <div class="row">

            <form #myForm="ngForm" (ngSubmit)="onSubmitTemplate(myForm)">

                <p>
                    <label>User Name:</label>
                    <br>
                    <input type="text" name="username" placeholder="Enter UserName" ngModel required #firstname="ngModel">
                </p>
                <p>
                    <label>Password:</label>
                    <br>
                    <input type="password"  
                    name="password"
                    placeholder="Enter Your Password"
                    ngModel 
                    required
                    #password="ngModel"
                    >
                </p>
                <p>
                    <button type="submit" [disabled]="!myForm.valid" >Submit</button>
                </p>
            
            </form>

        </div>
    </div>
</div>



