
    <nav class="topNav">
        <div class="logo">
           
            <a  class="logoname" >Happening.Inn</a>
        </div>
        <ul class="nav-links" *ngIf="authService.isLoggedIn==='no'">
        
            <li><a   routerLink="/" routerLinkActive>Login</a></li>
            <li><a   routerLink="/signup" routerLinkActive>New User ? Signup</a></li>
           
           
        </ul>
        <ul class="nav-links" *ngIf="authService.isLoggedIn==='admin'">

            <li><a   routerLink="/admin" routerLinkActive>Bookings</a></li>
            <li><a   routerLink="/admin/room-operations" routerLinkActive>Update Rooms</a></li>
            <li><a   routerLink="/admin/hotel-operations" routerLinkActive>Update Hotels</a></li>
            <li><a   routerLink="/admin/add-room" routerLinkActive>Add Room</a></li>
            <li><a   routerLink="/admin/add-hotel" routerLinkActive>Add Hotel</a></li>
            
            <!-- <li><a   routerLink="/admin/addroomtohotel" routerLinkActive>AddRoomToHotel</a></li> -->
            <li><button class="button" (click)="logout()">Logout</button></li>
          
           
           
        </ul>

        <ul class="nav-links" *ngIf="authService.isLoggedIn==='user'">
            <li><a routerLink="/home" routerLinkActive>Home</a></li>
            <li><a routerLink="/bookings">Bookings</a></li>
         
            <li><button class="button" (click)="logout()">Logout</button></li>
    

           
        </ul>
   

<div  (click)="constNavslide()">
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</div>
        
    </nav>








    


<!--      

        <nav class="navbar">
            <div class="navbar-container container">
                <input type="checkbox" name="" id="">
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Testimonial</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h1 class="logo">Navbar</h1>
            </div>
        </nav>
     -->