<nav
  class="navbar navbar-expand-lg navbar-dark bg-darker"
  style="
    background-color: black;
    color: white;
    font-family: Georgia, Times New Roman, Times, serif;
  "
>
  <div class="container-fluid">
    <a class="navbar-brand">Happen.Inn</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto" *ngIf="authService.isLoggedIn === 'no'">
        <li class="nav-item">
          <a class="nav-link active"   data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown" routerLink="/" routerLinkActive>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"   data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown" routerLink="/signup" routerLinkActive
            >New User ? Signup</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto" *ngIf="authService.isLoggedIn === 'admin'">
        <li class="nav-item">
          <a class="nav-link active"   data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown" routerLink="/admin" routerLinkActive>Bookings</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            routerLink="/admin/room-operations"
            routerLinkActive
            >Update Rooms</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            routerLink="/admin/hotel-operations"
            routerLinkActive
            >Update Hotels</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active "
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            routerLink="/admin/add-room"
            routerLinkActive
            >Add Room</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            routerLink="/admin/add-hotel"
            routerLinkActive
            >Add Hotel</a
          >
        </li>

        <li>
          <button class="btn btn-outline-danger"   data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto"   data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" *ngIf="authService.isLoggedIn === 'user'">
        <li class="nav-item me-5"  data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown">
          <a class="nav-link active" routerLink="/home" routerLinkActive
            >Home</a
          >
        </li>
        <li class="nav-item me-5">
          <a class="nav-link active"  data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown" routerLink="/bookings">Your Bookings</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link active"  data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown" >About Us</a>
        </li>

        <li class="nav-item">
          <button class="btn btn-outline-danger"  data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"  data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
