
<!-- <div class="container">
  <div class="row">
    <div class="col-4 col-md-0">
Hi
    </div>
    <div class="col-8 col-md-12">
HI
    </div>
    <div class="col-2 col-md-0">
      HI
    </div>

</div>

</div> -->

<!-- 
<div class="row">
  <div class="col-">
Hi
  </div>
  <div class="col-6">
z
  </div>
  <div class="col-2">
    z
      </div>
</div> -->






<div>

  
  <div class="row">
    <div class="col-sm">
      <!-- <img class="offer1" src="assets/images/booking-offers.png" alt=""> -->
    </div>
    <div class="col-sm">
      
<mat-card class="class1">
  <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
      <mat-form-field class="city-field" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
        <mat-label class="mat-labelSearch">Search by city</mat-label>
        
        <input type="text"
               placeholder="Pick one"
               aria-label="City"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto" required
         
               >
            
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option"      style="font-family: Georgia, Times New Roman, Times, serif;">
            {{option}}
          </mat-option> 
        </mat-autocomplete>
        
      </mat-form-field>
     

      <mat-form-field appearance="outline" class="date-field">
          <mat-label>Enter a date range of stay</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Check-in" required formControlName="fromDate">
            <input matEndDate placeholder="Check-out" required formControlName="toDate">
        
          </mat-date-range-input >
          <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button  mat-raised-button
        color="primary"
        mat-button  class="submitButton">Search Hotels</button>


    </form>

    
</mat-card>


  <div class="row align-items-center">
    <div class="container">
    <p class="text1">"Memorable hotels for </p>
    <p class="text2"> Moments Rich in Emotions"<p> 
    
  
  </div>

</div>

<div class="row">
  <div class="container">
    <p class="text3">Book Now and Get Exciting Offers!<p> 
  </div>
</div>



   
    </div>
    <div class="col-sm">
 
    </div>
  </div>
</div>






<div class="container">
  <div class="row">

    <!-- <mat-grid-list cols="1"  rowHeight="590px"  > -->
      <div class="col-12 col-md-6" *ngFor="let hotel of hotels; let i = index">
        <!-- <a [routerLink]="['/room/'+hotels[i]._id]"> -->
        
          <!-- <mat-grid-tile > -->
             <mat-card class="example-card">
              <span *ngIf="hotels[i].breakfast" class="featured">Breakfast Included

                
                </span>
            <mat-card-header >
              <mat-card-title style="font-family: Georgia, Times New Roman, Times, serif;">{{hotels[i].name}} - {{hotels[i].city}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{hotels[i].image}}" alt="">
            <mat-card-content>
              <p style="font-family: Georgia, Times New Roman, Times, serif;font-weight: 300;">
                {{hotels[i].address}}
              </p>
            </mat-card-content>


            <div class="row">
              <div class="col-6">
                <span *ngIf="hotels[i].offer" class="offers">
                  {{hotels[i].offer}}

                
                </span>
              </div>
              <div class="col-6">
                <mat-card-actions>
                  <button class="viewButton" [routerLink]="['/room/'+hotels[i]._id]"[queryParams]="{fromDate:fromDate, toDate:toDate,noOfDays:noOfDays}" mat-button style="background-color: rgb(0, 0, 0); color:white;font-family: Georgia, Times New Roman, Times, serif;">View Details</button>
                </mat-card-actions>
              </div>
          </div>

            
          </mat-card>
        <!-- </mat-grid-tile> -->
        <!-- </a> -->
        
        </div>
        <!-- </mat-grid-list> -->
        
    
    
     </div>
    


</div>

 





