.class1{
  width: 780px;
  height: 100px;
 
  margin-left:auto;
  margin-right:auto;  
  margin-top: 30px;
  border-radius: 25px;
  border: 2px solid black;
    
  }  
 .city-field{
  padding-left:2px;
  width:35%; 
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:15px;

 
}
.date-field {
  width:35%; 
    /* width:100%; */
 
    margin-left:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:15px;
} 
.example-form {
    /* min-width: 150px;
    max-width: 400px; */
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin-top: 20px; */
  }
 .submitButton{
      height: 50px;
      border-radius: 15px;
  
      position: relative;
      top:-4px;
      margin-left:10px;
      width:25%; 
    
      background-color: black;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size:15px;
    
 } 

 .submitButton:hover{
   color:rgba(251, 248, 170, 0.76);
}

.example-card{
/* width: 300px; */
  background-size: cover;
  border-radius: 15px;
  margin: 5px;
 max-height: 600px; 

 margin-bottom:20px;
}
.example-card .mat-card{
width: 100%!important;

}
.example-header-image{
  max-height: 10px;
  background-size: cover;
  object-fit: cover;
  
}
.offer1{
  height: 300px;
  object-fit: cover;
}
.text1{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 58px;
  /* margin-top: 70px;
  margin-left: 30px;
 position: relative;
  */
  display:table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
.text2{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 54px;
  display:table;
  margin-left: auto;
  margin-right: auto;
margin-top: 15px;
 

}
.text3{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 270px;

 margin-bottom: 20px;
 

}

.mat-labelSearch{
  margin-left: 6px;
  
}

.viewButton{
  /* display: flex;
   float: right;  */
   position: absolute;
   bottom: 8px;
   right: 8px;
 
}
.featured{
  background-color: green;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  padding:2px;
  /* position: relative;
  top:-18px;
  left:-25px; */
  position: absolute;
  top:-15px;
  left:-10px;
  color: antiquewhite;
}
.offers{
  background-color: pink;
  color:brown;
  padding:5px; 
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:15px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  
}

@media only screen and (max-width: 800px) {

  .class1{
    width: 90%;
    height: 250px;
    
    margin-left:auto;
    margin-right:auto;  
   
    border-radius:  15px;
    border: 2px solid black;
  
    
  }  

  .city-field{
    
    width:100%; 
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:15px;
    padding-left: 0px;


}
.date-field {
 width:100%; 
   /* width:100%; */

   margin-left:0px;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-size:15px;
} 

.submitButton{
  height: 50px;
  border-radius: 15px;


  margin-left:80px;
    margin-right:auto;  
 
  width:50%; 
  
  background-color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:15px;
  
} 

.submitButton:hover{
 color:rgba(251, 248, 170, 0.76);
}


  .text1{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    /* margin-top: 60px;
    margin-left: 22px; */
    display:table;
  margin-left: 30px;
  margin-right: auto;
  
   
  }
  .text2{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 28px;
    display:table;
    margin-left: auto;
    margin-right: auto;
  
 
   
  
  }
  .text3{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 80px;
  
   margin-bottom: 20px;
   
   display:none;
  }
  
  
}


/* 
.card{
  margin: 3% 0%;
}

.card-body{
  margin: 0% 0% 0% 3%;
  padding-bottom: 5%;
} */

