.class1.mat-card{
    width: 780px;
    height: 100px;
   
    margin-left:auto;
    margin-right:auto;  
    margin-top: 30px;
    border-radius: 25px;
    border: 2px solid black;
  }  
 .city-field{
  padding-left:2px;
     width:40%; 
     font-family: Georgia, "Times New Roman", Times, serif;
     font-size:15px;
   
 
}
.date-field {
  width:40%; 
    /* width:100%; */
    padding-bottom: 8px;
    padding-left:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:15px;
} 
.example-form {
    /* min-width: 150px;
    max-width: 400px; */
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin-top: 20px; */
  }
 .submitButton{
    height: 50px;
    border-radius: 15px;
    margin-top:0px;
    position: relative;
    top:-4px;
    margin-left:10px;
    width:18%; 
    /* margin-right:auto;   */
    /* margin-top: 25px;
    width:100%; */
    background-color: black;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:15px;
 } 

 .submitButton:hover{
   color:rgba(251, 248, 170, 0.76);
}

.example-card{
  max-width: 400px;
  background-size: cover;
  border-radius: 15px;

}

.example-header-image{
  max-height: 50px;
  background-size: cover;
  object-fit: cover;
  
}
.offer1{
  height: 300px;
  object-fit: cover;
}
.text1{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 58px;
  margin-top: 70px;
  margin-left: 50px;
 position: relative;
 

}
.text2{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  margin-top: 40px;
  margin-left: 140px;

 margin-bottom: 20px;
 

}
.text3{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 270px;

 margin-bottom: 20px;
 

}

.mat-labelSearch{
  margin-left: 6px;
  
}