<div class="shadow text-center px-2 py-3 mx-auto" style="width: 400px">
    <div class="row py-5">
      <div class="col-12">
        Payment Successfull
        <br />
        <i>Logo</i>
      </div>
    </div>
    <div class="row py-4">
      <div class="col-6">
        <ul class="list-unstyled">
          <li>Payment type</li>
          <li>Payment type</li>
          <li>Payment type</li>
          <li>Payment type</li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="list-unstyled">
          <li>Payment type</li>
          <li>Payment type</li>
          <li>Payment type</li>
          <li>Payment type</li>
        </ul>
      </div>
      <div class="btn-div d-flex justify-content-center">
        <button class="btn btn-primary me-1">Next</button>
        <button class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </div>