mat-form-field,
textarea {
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.example-card{

  display:inline-block;
  width: 50%;

  top:2%;
  left:27%;
  font-family: Georgia, "Times New Roman", Times, serif;


}
.matbutton{
    font-family: Georgia, "Times New Roman", Times, serif;
}