mat-form-field,
textarea {
  width: 100%;
}

.example-card{
  display:inline-block;
  width: 80%;
  font-family: Oswald, sans-serif;


}
.mat-card-cvr{
  width: 100%;
  text-align:center;
}

.example-card2{
  left: 300px;
  display:inline-block;
  width: 100%;
  font-family: Oswald, sans-serif;

}

.tp-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 
 }
 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:200px;   
 }